{% extends 'base.html' %}


{% block content %}

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">CodewithAbhi | Abhishek Shakya</h1>
          <p class="lead text-muted"><small>This project has been developed by CodewithAbhi | Abhishek Shakya, featuring dynamically customizable modules for Clients, Blogs, Courses, and Tutorials. Each section is fully functional, allowing users to seamlessly add, edit, delete, and view content through an intuitive and flexible interface.</small></p>
          <p>
            <a href="/clients" class="btn btn-sm btn-primary my-2">Clients</a>
            <a href="/blogs" class="btn btn-sm btn-primary my-2">Blogs</a>
            <a href="/courses" class="btn btn-sm btn-primary my-2">Courses</a>

          </p>
        </div>
      </section>

  

    </main>

  {% endblock %}